<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goHome()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>RegistroAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #loginForm="ngForm">
    <ion-list>
      <!-- Campo de nombre de usuario con validaciones -->
      <ion-item>
        <ion-input 
          labelPlacement="stacked" 
          label="Nombre de Usuario" 
          placeholder="Usuario"
          required
          minlength="3"
          maxlength="10"
          [(ngModel)]="username" 
          name="username" 
          #usernameInput="ngModel">
        </ion-input>
        <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
          <ion-text color="danger" *ngIf="usernameInput.errors?.['required']">El nombre de usuario es requerido.</ion-text>
          <ion-text color="danger" *ngIf="usernameInput.errors?.['minlength']">Debe tener al menos 3 caracteres.</ion-text>
          <ion-text color="danger" *ngIf="usernameInput.errors?.['maxlength']">No debe exceder los 10 caracteres.</ion-text>
        </div>
      </ion-item>

      <!-- Campo de contraseña con alternancia de visibilidad -->
      <ion-item>
        <ion-input 
          [type]="passwordFieldType" 
          labelPlacement="stacked" 
          label="Contraseña" 
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="password" 
          name="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()" aria-label="Show/hide">
            <ion-icon slot="icon-only" [name]="passwordFieldType === 'password' ? 'eye' : 'eye-off'" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
    </ion-list>

    <!-- Botón de Iniciar Sesión -->
    <div class="ion-text-center">
      <ion-button expand="full" shape="round" (click)="login()">Iniciar Sesión</ion-button>
    </div>
  </form>
</ion-content>
