<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reservar Salón</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  <div class="welcome-message">
    <ion-card class="welcome-card">
      <ion-card-content>
        <p>Bienvenido, {{ username }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="grid-container">
    <div *ngFor="let salon of salones" class="salon-card">
      <img [src]="salon.imagen" [alt]="salon.nombre" class="imagen-sala" alt="Sala" />
      
      <h3>{{ salon.nombre }}</h3>
  
      <label for="fecha">Fecha:</label>
      <ion-item>
        <ion-input type="date" [(ngModel)]="salon.fecha"></ion-input>
      </ion-item>
  
      <label for="hora">Hora:</label>
      <ion-item>
        <ion-input type="time" [(ngModel)]="salon.hora"></ion-input>
      </ion-item>
  
      <ion-button expand="block" (click)="reservar(salon)">Reservar</ion-button>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="footer-title">© 2024 AulaManager. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
