<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="welcome-message">
    <ion-card class="welcome-card">
      <ion-card-content>
        <p>Bienvenido, {{ username }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="button-container">
  <ion-list>
    <ion-item *ngFor="let reserva of reservas">
      <h3>{{ reserva.nombre }}</h3>
      <br>
      <p>Fecha: {{ reserva.fecha }}</p>
      <br>
      <p>Hora: {{ reserva.hora }}</p>
    </ion-item>
  </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="footer-title">© 2024 AulaManager. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
