<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola</ion-card-title>
      <ion-card-subtitle>13221</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      esto es una prueba
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.latercera.com/resizer/v2/T4ADTPTTYZBABEVHM2RYIZINNA.png?quality=80&smart=true&auth=1053b1fb1d89a0c3db1b74af8a59651def1b5c2e795054d224e9577c01111c78&width=1200&height=800" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
