<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistroAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistroAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
      <ion-card-subtitle>Nombre usuario</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Toma tu asistencia con nosotros RegistroAPP!!
    </ion-card-content>
  </ion-card>
  <div id="login-container">
    <ion-button expand="block" id="login-button" routerLink="/login" >Login</ion-button>
    <ion-button  fill="clear" expand="block" id="recuperar-button" routerLink="/recuperar" >Recuperar Contraseña</ion-button>
  </div>
</ion-content>

<ion-footer>
  <div id="footer-content">
    RegistroAPP 2024 - Todos los derechos reservados
  </div>
</ion-footer>